<!-- ko with: home -->
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h2>Compose Email</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">TO: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Email" data-bind="value: toAddresses">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">CC: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Email" data-bind="value: ccAddresses">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Subject: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Suject" data-bind="value: emailSubject">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <button type="submit" class="btn btn-primary" data-bind="click: sendEmail">Send</button>
                </label>
                <div class="col-sm-10">
                    <textarea id="email-editor"></textarea>
                </div>
            </div>
        </form>        
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your information</h2>
        <p>This section shows how you can call ASP.NET Web API to get the user details.</p>
        <p data-bind="text: myHometown"></p>
       
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
            It's now easier than ever before to getting started writing highly interactive web applications.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<!-- /ko -->
